.contact-us-form {
  height: auto;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 7px;
  padding: 20px;
  box-shadow: -2px -2px 8px 4px rgba(43, 35, 37, 0.3);
  display: flex;
  flex-direction: column;
}
#title-contact-us {
  text-align: center;
  letter-spacing: 2px;
  font-family: 'secondaryFont';
}

h3 {
  font-weight: bold;
  margin-top: 15px;
}
#italic {
  font-style: italic;
}

.grid-form h3 {
  margin-left: 10%;
}

.grid-form input {
  margin-left: 15%;
  width: 70%;
  border-radius: var(--smallBorderRadius);
  /* box-shadow: -2px -2px 8px 4px rgba(43, 35, 37, 0.3); */
  margin-bottom: 15px;
}

textarea {
  resize: none;
  height: 150px;
  width: 100%;
  border-radius: var(--smallBorderRadius);

  padding: 10px;
}

#submit-btn {
  background-color: var(--drakestShade);
  height: 2.5rem;
  border-radius: var(--smallBorderRadius);
  color: #fff;
  width: 40%;
  cursor: pointer;
  margin: 5% auto 0;
  transition: 0.5s;
}

#submit-btn:hover {
  background-color: var(--accentShade);
}

.contact-us-form input {
  padding: 5px 10px;
}

@media only screen and (min-width: 1024px) {
  #contactFormContainer {
    padding: 0 20%;
  }
}
