#country-input {
  width: 100%;
  height: 2.5rem;
  border-radius: var(--smallBorderRadius);
  box-shadow: -2px -2px 8px 4px rgba(43, 35, 37, 0.3);
  background-color: var(--lightShade);
}

#search-btn {
  background-color: var(--drakestShade);
  margin-left: -30%;
  height: 2.5rem;
  width: 30%;
  border-radius: var(--smallBorderRadius);
  box-shadow: -2px -2px 8px 4px rgba(43, 35, 37, 0.3);
  color: #fff;
}

.home-container {
  text-align: center;
  width: 85%;
  margin: auto;
}

.home-container img {
  width: 98%;
  margin: 10% auto -3%;
}
