.contact-form {
  height: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: salmon;
  border-radius: 7px;
  padding: 10px;
}

h3 {
  font-weight: 400;
  margin-top: 15px;
}

#post-title {
  text-align: left;
  margin: 5px;
  letter-spacing: 2px;
  font-weight: 500;
}

#name {
  text-align: center;
}

#new-post-area {
  height: 130px;
  width: 100%;
}
