.upload-module {
  border: 0.2rem dashed;
  border-radius: var(--smallBorderRadius);
  border-color: var(--accentShade);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: var(--smallBorderRadius);
  height: 100px;
  width: 100%;
}

#pick-file-btn {
  background-color: var(--drakestShade);
  height: 50px;
  width: 30%;
  border-radius: var(--smallBorderRadius);
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  font-size: 16px;
}

#input-file-area {
  color: var(--accentShade);
}

/* input[type='file'] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
} */

@media screen and (max-width: 500px) {
  .upload-module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #pick-file-btn {
    background-color: var(--drakestShade);
    height: 40px;
    width: 80%;
  }
}
