img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: auto;
  margin-top: 32px;
}

button img {
  border-radius: 0;
}

.converter-container {
  width: 85%;
  margin: auto;
  background-color: #461220;
  border-radius: 8px;
  color: #fff;
}

#convertion-result {
  grid-column: 3;
  align-self: center;
  font-size: 1.8rem;
}

.devise-container {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 1fr 0.6fr;
  text-align: center;
}

input {
  width: 80%;
  background-color: #fcb9b2;
  margin: 16px auto 16px;
  padding: 16px;
  border-radius: 8px;
}

option {
  color: black;
  width: 80%;
}

select {
  color: black;
  width: 80%;
}

.currencies {
  margin: 8px auto 16px;
  height: 16px;
}
