#title-dash {
  font-size: 3rem;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #fcb9b2,
    #b23a48,
    #461220,
    #b23a48,
    #fcb9b2
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 400%;
  background-position: -100%;
  animation: animatedTitle 3s infinite alternate;
  margin-top: 10%;
}

.info-for-users {
  background-color: var(--lightShade);
  color: #b23a48;
  font-weight: bolder;
  height: auto;
  width: 85%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  border-radius: 0.3em;
  display: flex;
  transition: 0.5s;
  overflow: hidden;
  padding: 15px;
  box-shadow: -2px -2px 8px 4px rgb(43 35 37 / 30%);
  position: relative;
  overflow: hidden;
}

#return-home-link {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  border-radius: var(--smallBorderRadius);
  box-shadow: -2px -2px 8px 4px rgba(43, 35, 37, 0.3);
  color: #fff;
  font-family: 'secondaryFont';
  background-color: var(--drakestShade);
  width: 40%;
  height: 50px;
  border-radius: 8px;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

#dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*effetbtn*/

#return-home-link:hover {
  background-color: var(--accentShade);
  color: black;
}
#return-home-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    var(--lightShade),
    transparent
  );
  transition: 0.5s;
}
#return-home-link:hover::before {
  left: 100%;
}
