@media only screen and (min-width: 1024px) {
  #destinationPage {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
    justify-content: center;
  }
  #feedback {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
