#destinationBloc {
  width: 85%;
  height: 85%;
  margin: 5% 5% 5% 5%;
  border-radius: 8px;
  padding: 4%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#flag {
  border-radius: 20px;
  width: 60%;
  height: 40%;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 0 auto;
}

#destinationName {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}

.countryBloc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    'flagBox destinationName'
    'dataBox dataBox'
    'dataBox dataBox';
}

.flagBox {
  grid-area: flagBox;
}

.destinationName {
  grid-area: destinationName;
}

.dataBox {
  grid-area: dataBox;
  margin-top: 4%;
}

#liCatTitle {
  font-weight: bold;
  color: #b23a48;
  text-transform: uppercase;
}

#liDestination {
  display: flex;
  justify-content: space-between;
}

.language {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 4px;
}

/* TABLETS AND DESKTOP */

@media only screen and (min-width: 481px) {
  #destinationBloc {
    width: 70%;
    height: 70%;
    margin: 5% 5% 5% 5%;
  }
}
@media only screen and (min-width: 768px) {
  #destinationBloc {
    width: 60%;
    height: 60%;
    margin: 5% 5% 5% 5%;
  }
}

@media only screen and (min-width: 1024px) {
  #destinationBloc {
    width: 85%;
    height: 85%;
    margin: 5% 5% 5% 5%;
  }
}
