/* *** GENERAL FOOTER *** */

footer {
  background-color: #b23a48;
  color: white;
  text-align: center;
  padding: 8px 8px 2px 8px;
  margin-top: 4%;
  padding: 1%;
  bottom: 0;
}

/* *** NAV *** */
footer ul {
  display: flex;
  justify-content: space-around;
  font-family: 'secondaryFont';
}

footer li:hover {
  cursor: pointer;
  color: #ffe4d8;
}

.navigation {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* *** COPYRIGHT *** */
.copyright {
  font-size: 12px;
}
