#country-input {
  width: 85%;
  height: 2.5rem;
  border-radius: var(--smallBorderRadius);
  box-shadow: -2px -2px 8px 4px rgba(43, 35, 37, 0.3);
  background-color: var(--lightShade);
  padding-left: 16px;
  margin-left: 7.5%;
  margin-top: -14px;
  color: var(--drakestShade);
}

#search-btn {
  background-color: var(--drakestShade);
  margin-left: -30%;
  height: 2.5rem;
  width: 30%;
  border-radius: var(--smallBorderRadius);
  box-shadow: -2px -2px 8px 4px rgba(43, 35, 37, 0.3);
  color: #fff;
}

.home-image {
  text-align: center;
  width: 85%;
  margin: 6% auto -3%;
}

.dropdown {
  width: 72%;
  max-height: 9rem;
  margin: auto;
  background-color: #f2f2f2;
  border-radius: 8px;
  overflow-y: scroll;
  z-index: 3;
  position: absolute;
  left: 17.5%;
}

.destination-filter {
  margin-left: 7%;
  width: 60%;
}

.filter-container {
  padding: 8px 16px;
}

.dropdown::-webkit-scrollbar {
  width: 12px;
}

.dropdown::-webkit-scrollbar-track {
  /* border: 1px solid var(--drakestShade); */
  padding: 2px 0;
  background-color: rgb(230, 227, 227);
  border-radius: 3px;
}

.dropdown::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--drakestShade);
  border: 1px solid #000;
}

#homeContainer h1 {
  font-size: 2rem;
  text-align: center;
}
#homeContainer h2 {
  font-size: 1rem;
  text-align: center;
  font-family: 'title';
}

#homeContainer {
  position: relative;
}

/* RESPONSIVE */

@media only screen and (min-width: 1024px) {
  #homeContainer {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    justify-content: center;
  }
  .home-image {
    width: 50%;
  }
  #homeContainer h1 {
    font-size: 3vw;
    z-index: 10;
    position: relative;
  }
  #homeContainer h2 {
    font-size: 1.5rem;
    z-index: 10;
    position: relative;
    margin: 0.5%;
    font-family: 'title';
  }
  #titleHome {
    position: relative;
    width: 40%;
    height: 110px;
    background: var(--lightestShade);
    overflow: hidden;
    border-radius: 20px 0;
    text-decoration: none;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #titleHome::after {
    content: '';
    position: absolute;
    inset: 8px;
    border-radius: 12px 0;
    background: var(--lightestShade);
    width: 100%;
  }
  #titleHome::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 800px;
    background: linear-gradient(#b23a48, #fcb9b2);
    animation: animate 6s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: rotate(0deg);
      width: 0%;
    }
    50% {
      width: 10%;
    }
    100% {
      transform: rotate(360deg);
      width: 0%;
    }
  }

  .dropdown {
    width: 35%;
    left: 34%;
  }
}
