.contact-form {
  height: auto;
  width: 85%;
  margin: 5% auto;
  background-color: var(--lightShade);
  border-radius: 7px;
  padding: 10px;
  box-shadow: -2px -2px 8px 4px rgba(43, 35, 37, 0.3);
  display: flex;
  flex-direction: column;
}

.contact-form h3 {
  font-weight: 400;
  margin-top: 15px;
}

.contact-form input {
  padding: 1px;
}

#post-title {
  text-align: left;
  margin: var(--smallBorderRadius);
  font-family: 'secondaryFont';
}
#dateArea {
  border-radius: var(--smallBorderRadius);
  width: 100%;
  cursor: pointer;
  text-align: center;
  color: var(--drakestShade);
}

#name {
  border-radius: var(--smallBorderRadius);
  width: 100%;
  cursor: pointer;
  text-align: center;
}
#name-container {
  width: 80%;
}
#name-and-date-container {
  display: flex;
  justify-content: space-between;
}
#avatarInput {
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: var(--smallBorderRadius);
}

#add-post-btn {
  background-color: var(--drakestShade);
  margin: 1em auto 0;
  height: 2.5rem;
  width: 60%;
  border-radius: var(--smallBorderRadius);
  color: #fff;
  position: relative;
  overflow: hidden;
}

#add-post-btn:hover {
  background-color: var(--accentShade);
}
#add-post-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    var(--lightShade),
    transparent
  );
  transition: 0.5s;
}
#add-post-btn:hover::before {
  left: 100%;
}

#new-post-area {
  resize: none;
  height: 130px;
  width: 100%;
  border-radius: var(--smallBorderRadius);
  cursor: pointer;
  padding: 10px;
}

#downloadPict {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: var(--smallBorderRadius);
  height: 100px;
  width: 100%;
}

#picturesUpload button {
  background-color: var(--drakestShade);
  margin-bottom: 5%;
  margin-top: 5%;
  position: relative;
  overflow: hidden;
}

#picturesUpload button:hover {
  background-color: var(--accentShade);
}
#picturesUpload button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    var(--lightShade),
    transparent
  );
  transition: 0.5s;
}
#picturesUpload button:hover::before {
  left: 100%;
}

#picturesUpload {
  display: flex;
  justify-content: center;
}
#picturesUpload label {
  font-family: 'secondaryFont';
  color: var(--drakestShade);
}
.uploadcare--button {
  background-color: var(--drakestShade);
  color: white;
}
.uploadcare--button:hover {
  background-color: var(--accentShade);
  color: white;
}
.uploadcare--menu__item:hover {
  background-color: var(--accentShade);
  color: var(--lightShade);
}
#input-img-temp {
  border-radius: var(--smallBorderRadius);
  width: 100%;
  cursor: pointer;
  text-align: center;
  box-shadow: -2px -2px 8px 4px rgba(43, 35, 37, 0.3);
}

.uploadcare--tab__content {
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 1024px) {
  .contact-form {
    width: 60%;
    padding: 1% 2%;
    margin: 3% auto;
  }

  #add-post-btn {
    width: 40%;
  }
}
