#postedComments {
  height: 64px;
  overflow: hidden;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  #postsPage {
    display: flex;
    flex-direction: column;
    padding: 0 30%;
    justify-content: center;
  }
}
