.paper {
  width: 85%;
  height: 85%;
  background-image: linear-gradient(#461220, #b23a48);
  padding: 4%;
  text-align: center;
  color: white !important;
  text-shadow: 2px 2px 2px black;
  font-size: 18px;
}
.fontcss {
  font-family: 'mainFont';
  font-size: 25px;
}
.elementcenter {
  display: flex;
  justify-content: space-around;
}
.paper input {
  color: white !important;
}
::placeholder {
  color: white !important;
}
.sendBtn {
  color: white;
}
.imgcss {
  border-radius: 50%;
  width: 20%;
  display: block;
  margin: 0% auto;
}

#paperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 481px) {
  .paper {
    width: 70%;
    height: 70%;
  }
}
@media only screen and (min-width: 768px) {
  .paper {
    width: 60%;
    height: 60%;
  }
}
@media only screen and (min-width: 1024px) {
  .paper {
    width: 85%;
    height: 85%;
  }
  #paperContainer {
    width: 40%;
  }
  .elementcenter {
    margin: 8%;
  }
}
