/* mist class colors from taiwind */

.miniatureBlogPost {
  background-color: salmon;
  height: 120px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 0.3em;
  display: flex;

  overflow: hidden;
  padding: 15px;
  box-shadow: -2px -2px 8px 4px rgb(43 35 37 / 30%);
}

.avatarCell {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: black;

  position: absolute;
}

.userText {
  font-size: 1em;
  margin-left: 100px;
  margin-top: 5px;
  margin-bottom: 10px;

  overflow: hidden;
}
